.App {
  text-align: center;
}
body {
  display: flex;
  /* overflow-x: auto;
  white-space: nowrap;
  padding: 10px; */
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#modal-button {
	margin: 0 auto;
	display: block;
}

#ticket-modal {
	text-align: center;
}

#new-ticket-btn {
	margin: 0 auto;
	display: block;
}

#delete-btn {
	margin: 0 auto;
	display: block;
}


